<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>CreatorsHub</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FormAlta</display-name>
    <servlet-name>FormAlta</servlet-name>
    <servlet-class>controlador.FormAlta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormAlta</servlet-name>
    <url-pattern>/FormAlta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Altas</display-name>
    <servlet-name>Altas</servlet-name>
    <servlet-class>controlador.Altas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Altas</servlet-name>
    <url-pattern>/Altas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarProyectos</display-name>
    <servlet-name>ListarProyectos</servlet-name>
    <servlet-class>controlador.ListarProyectos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarProyectos</servlet-name>
    <url-pattern>/ListarProyectos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SV_Login</display-name>
    <servlet-name>SV_Login</servlet-name>
    <servlet-class>controlador.SV_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SV_Login</servlet-name>
    <url-pattern>/SV_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SV_AplicarProyecto</display-name>
    <servlet-name>SV_AplicarProyecto</servlet-name>
    <servlet-class>controlador.SV_AplicarProyecto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SV_AplicarProyecto</servlet-name>
    <url-pattern>/SV_AplicarProyecto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SV_ModificarProyectos</display-name>
    <servlet-name>SV_ModificarProyectos</servlet-name>
    <servlet-class>controlador.SV_ModificarProyectos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SV_ModificarProyectos</servlet-name>
    <url-pattern>/SV_ModificarProyectos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SV_Buscador</display-name>
    <servlet-name>SV_Buscador</servlet-name>
    <servlet-class>controlador.SV_Buscador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SV_Buscador</servlet-name>
    <url-pattern>/SV_Buscador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SV_Chats</display-name>
    <servlet-name>SV_Chats</servlet-name>
    <servlet-class>controlador.SV_Chats</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SV_Chats</servlet-name>
    <url-pattern>/SV_Chats</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SV_GestionCandidaturas</display-name>
    <servlet-name>SV_GestionCandidaturas</servlet-name>
    <servlet-class>controlador.SV_GestionCandidaturas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SV_GestionCandidaturas</servlet-name>
    <url-pattern>/SV_GestionCandidaturas</url-pattern>
  </servlet-mapping>
</web-app>